In [1]:
import pandas as pd

dfs = {}

names = ['AAA','BBB','CCC','DDD','EEE']

# read in the price data for the 5 cryptocurrency prices, named 'AAA', 'BBB', 'CCC', 'DDD', 'EEE'
for name in names:
    dfs[name] = pd.read_csv(r'/Volumes/MasterDrive/Quant Research/' + name + "_prices_interpolated.csv")

In [2]:
# create the first-fourth order diffs from the price data of each of the coins

def directional_indicator(row):
    if row > 0:
        return 1
    if row < 0:
        return -1
    else:
        return 0
    
for name in names:
    dfs[name]['diff'] = dfs[name]['price'].diff()
    dfs[name]['first_order_states'] = dfs[name]['diff'].apply(directional_indicator)
    # impute missing data as no change (neutral), and get the Markov chain
    dfs[name]['diff_indicator_second_order'] = dfs[name]['first_order_states'].shift(-1).fillna(0).astype('int64')
    dfs[name]['second_order_states'] = list(zip(dfs[name]['first_order_states'], dfs[name]['diff_indicator_second_order']))
    dfs[name]['diff_indicator_third_order'] = dfs[name]['diff_indicator_second_order'].shift(-1).fillna(0).astype('int64')
    dfs[name]['third_order_states'] = list(zip(dfs[name]['first_order_states'], dfs[name]['diff_indicator_second_order'],dfs[name]['diff_indicator_third_order']))
    dfs[name]['diff_indicator_fourth_order'] = dfs[name]['diff_indicator_third_order'].shift(-1).fillna(0).astype('int64')
    dfs[name]['fourth_order_states'] = list(zip(dfs[name]['first_order_states'], dfs[name]['diff_indicator_second_order'],dfs[name]['diff_indicator_third_order'],dfs[name]['diff_indicator_fourth_order']))

In [3]:
dfs['AAA']

                             datetime         ...           fourth_order_states
0       1970-01-01 00:00:00.000000001         ...                (0, -1, 0, -1)
1       1970-01-01 00:00:00.000000002         ...                (-1, 0, -1, 1)
2       1970-01-01 00:00:00.000000003         ...                 (0, -1, 1, 0)
3       1970-01-01 00:00:00.000000004         ...                (-1, 1, 0, -1)
4       1970-01-01 00:00:00.000000005         ...                 (1, 0, -1, 1)
5       1970-01-01 00:00:00.000000006         ...                 (0, -1, 1, 1)
6       1970-01-01 00:00:00.000000007         ...                 (-1, 1, 1, 0)
7       1970-01-01 00:00:00.000000008         ...                 (1, 1, 0, -1)
8       1970-01-01 00:00:00.000000009         ...                 (1, 0, -1, 0)
9       1970-01-01 00:00:00.000000010         ...                 (0, -1, 0, 1)
10      1970-01-01 00:00:00.000000011         ...                (-1, 0, 1, -1)
11      1970-01-01 00:00:00.000000012         ...                (0, 1, -1, -1)
12      1970-01-01 00:00:00.000000013         ...               (1, -1, -1, -1)
13      1970-01-01 00:00:00.000000014         ...              (-1, -1, -1, -1)
14      1970-01-01 00:00:00.000000015         ...               (-1, -1, -1, 1)
15      1970-01-01 00:00:00.000000016         ...               (-1, -1, 1, -1)
16      1970-01-01 00:00:00.000000017         ...               (-1, 1, -1, -1)
17      1970-01-01 00:00:00.000000018         ...               (1, -1, -1, -1)
18      1970-01-01 00:00:00.000000019         ...               (-1, -1, -1, 0)
19      1970-01-01 00:00:00.000000020         ...               (-1, -1, 0, -1)
20      1970-01-01 00:00:00.000000021         ...                (-1, 0, -1, 0)
21      1970-01-01 00:00:00.000000022         ...                (0, -1, 0, -1)
22      1970-01-01 00:00:00.000000023         ...                (-1, 0, -1, 1)
23      1970-01-01 00:00:00.000000024         ...                 (0, -1, 1, 0)
24      1970-01-01 00:00:00.000000025         ...                 (-1, 1, 0, 1)
25      1970-01-01 00:00:00.000000026         ...                 (1, 0, 1, -1)
26      1970-01-01 00:00:00.000000027         ...                (0, 1, -1, -1)
27      1970-01-01 00:00:00.000000028         ...                (1, -1, -1, 0)
28      1970-01-01 00:00:00.000000029         ...                (-1, -1, 0, 0)
29      1970-01-01 00:00:00.000000030         ...                 (-1, 0, 0, 0)
...                               ...         ...                           ...
363736  1970-01-01 00:00:00.000363737         ...                 (0, -1, 0, 1)
363737  1970-01-01 00:00:00.000363738         ...                 (-1, 0, 1, 0)
363738  1970-01-01 00:00:00.000363739         ...                 (0, 1, 0, -1)
363739  1970-01-01 00:00:00.000363740         ...                (1, 0, -1, -1)
363740  1970-01-01 00:00:00.000363741         ...               (0, -1, -1, -1)
363741  1970-01-01 00:00:00.000363742         ...              (-1, -1, -1, -1)
363742  1970-01-01 00:00:00.000363743         ...              (-1, -1, -1, -1)
363743  1970-01-01 00:00:00.000363744         ...               (-1, -1, -1, 1)
363744  1970-01-01 00:00:00.000363745         ...                (-1, -1, 1, 1)
363745  1970-01-01 00:00:00.000363746         ...                 (-1, 1, 1, 0)
363746  1970-01-01 00:00:00.000363747         ...                 (1, 1, 0, -1)
363747  1970-01-01 00:00:00.000363748         ...                (1, 0, -1, -1)
363748  1970-01-01 00:00:00.000363749         ...               (0, -1, -1, -1)
363749  1970-01-01 00:00:00.000363750         ...              (-1, -1, -1, -1)
363750  1970-01-01 00:00:00.000363751         ...               (-1, -1, -1, 1)
363751  1970-01-01 00:00:00.000363752         ...                (-1, -1, 1, 0)
363752  1970-01-01 00:00:00.000363753         ...                 (-1, 1, 0, 1)
363753  1970-01-01 00:00:00.000363754         ...                  (1, 0, 1, 0)
363754  1970-01-01 00:00:00.000363755         ...                  (0, 1, 0, 0)
363755  1970-01-01 00:00:00.000363756         ...                  (1, 0, 0, 1)
363756  1970-01-01 00:00:00.000363757         ...                  (0, 0, 1, 1)
363757  1970-01-01 00:00:00.000363758         ...                  (0, 1, 1, 0)
363758  1970-01-01 00:00:00.000363759         ...                  (1, 1, 0, 0)
363759  1970-01-01 00:00:00.000363760         ...                  (1, 0, 0, 0)
363760  1970-01-01 00:00:00.000363761         ...                 (0, 0, 0, -1)
363761  1970-01-01 00:00:00.000363762         ...                 (0, 0, -1, 0)
363762  1970-01-01 00:00:00.000363763         ...                 (0, -1, 0, 0)
363763  1970-01-01 00:00:00.000363764         ...                 (-1, 0, 0, 0)
363764  1970-01-01 00:00:00.000363765         ...                  (0, 0, 0, 0)
363765  1970-01-01 00:00:00.000363766         ...                  (0, 0, 0, 0)

[363766 rows x 11 columns]

In [4]:
# import numpy as np
# for name in names:
#     dfs[name]['second_order_states'].iloc[-1:] = np.nan
#     dfs[name]['third_order_states'].iloc[-2:] = np.nan
#     dfs[name]['fourth_order_states'].iloc[-3:] = np.nan

In [5]:
import itertools

states = [-1,0,1]

# since R is unable to take tuples as inputs to the verifymarkovproperty() function, create a one-to-one mapping from each of the 3^n tuple elements in each of the nth-order state spaces to integers
second_order_mapping = dict(zip(itertools.product(states,states),range(0,9)))
third_order_mapping = dict(zip(itertools.product(states,states,states),range(0,27)))
fourth_order_mapping = dict(zip(itertools.product(states,states,states,states),range(0,81)))

In [6]:
# apply the integer mappings

def second_order_operation(row):
    if row:
        return second_order_mapping[row]
    else:
        return row

def third_order_operation(row):
    if row:
        return third_order_mapping[row]
    else:
        return row


def fourth_order_operation(row):
    if row:
        return fourth_order_mapping[row]
    else:
        return row

for name in names:
    dfs[name]['second_order_states'] = dfs[name]['second_order_states'].apply(second_order_operation)
    dfs[name]['third_order_states'] = dfs[name]['third_order_states'].apply(third_order_operation)
    dfs[name]['fourth_order_states'] = dfs[name]['fourth_order_states'].apply(fourth_order_operation)
    dfs[name]['price_first_shift'] = dfs[name]['price'].shift(-1)
    dfs[name]['price_second_shift'] = dfs[name]['price_first_shift'].shift(-1)

In [7]:
# for name in names:
#     dfs[name]['price_ewma'] = dfs[name]['price'].ewm(com=1).mean()

In [8]:
# save the diff time series (mapped to integers) as a csv file
for name in names:
    dfs[name][['position','price','price_first_shift','price_second_shift','diff','first_order_states','second_order_states','third_order_states','fourth_order_states']].iloc[:-2].to_csv(r'/Volumes/MasterDrive/Quant Research/' + name + '_prices_interpolated_final.csv')